/* section 2 */
.description-section {
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 120px;
  color: white;
  background-color: rgba(33, 33, 33, 255); 
}

.description-left {
  width: 40%;
}

.description-right {
  display: flex;
  flex-direction: column;
  gap: 80px; 
}

.section-subtitle {
  font-size: 1.5rem;
  margin-top: 10%;
  margin-bottom: 2%;
  font-weight: 600;
  color: #b3b3b3; 
}

.description-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 0;
}

.description-title .highlight {
  color: #00a5cf;
}

.description-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #d1d1d1; 
}

.feature-description {
  display: flex;
  background: #333; 
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  position: relative;
  margin-bottom: 2%; 
  width: 300px;
  height: 60px;
}

.feature-icon-description {
  width: 100px; 
  height: 100px;
  background-color: #00a5cf; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -35px;
  top: 1px; 
}

.feature-icon-description img {
  width: fit-content; 
  height: fit-content;
}

.feature-text-description {
  font-size: 1rem;
  color: #e0e0e0;
  line-height: 1.5;
  font-weight: 500; 
  padding-left: 33%;
  padding-right: 5%;
  text-align: left;
  margin-top: -1%;
}

@media (max-width: 1200px) {
  .description-section {
    padding: 50px 80px; 
  }
  .description-left {
    width: 50%; 
  }
  .description-right {
    gap: 40px; 
  }
  .feature-description {
    width: 280px; 
  }
}

@media (max-width: 992px) {
  .description-section {
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
  }
  .description-left,
  .description-right {
    width: 100%; 
  }
  .feature-description {
    width: 90%; 
  }
}

@media (max-width: 768px) {
  .industrial-variables-container {
    /* margin-top: 10%; */
    padding: 20px;
    min-height: 40vh; 
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem; 
  }
  .monitoring-grid {
    margin-left: 5%;
    margin-right: 5%;
  }
  .monitoring-item {
    flex: 1 1 calc(50% - 10px); 
    max-width: calc(50% - 10px);
  }
  .description-right{
    margin-left: 10%;
    width: 80%;
  }
  .description-left{
    /* margin-left: 10%; */
    width: 84%;
  }

}

@media (max-width: 576px) {
  .description-section {
    padding: 20px 10px; 
  }

  .monitoring-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .content-monitoring {
    padding: 10px; 
  }
  .icon-container {
    padding: 30px; 
  }
  .feature-description {
    width: 100%;
    height: auto; 
  }
}

@media (max-width: 375px) {
  .breadcrumb {
    flex-wrap: wrap;
    font-size: 0.9rem; 
  }
  .title {
    font-size: 1.8rem; 
  }
  .description {
    font-size: 0.9rem;
  }
  .feature-text-description {
    font-size: 0.8rem; 
  }
  
}
