.feature-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto; /* Cambio de 100% a auto para mejor adaptabilidad de altura */
}

.feature-card-image {
  width: 100%;
  height: auto; /* Asegurar que la imagen se adapta y mantiene proporciones */
  object-fit: cover;
}

.feature-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Ligeramente oscurecido para mejorar la legibilidad del texto */
}

.feature-card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

.feature-card-content h3 {
  font-size: 100%;
  font-weight: 800;
  margin-bottom: 10px;
}

.feature-card-content p {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* Ajustes responsivos para tabletas */
@media (max-width: 768px) {
  .feature-card-content {
    padding: 15px; 
}

.feature-card-content h3 {
    font-size: 0.5rem; 
}

.feature-card-content p {
    font-size: 0.9rem; 
}

  .feature-card-content {
      bottom: 10px;
      left: 10px;
      padding: 10px;
  }

  .feature-card-content h3 {
      font-size: 1.2rem;
  }

  .feature-card-content p {
      font-size: 0.9rem;
  }
}

/* Ajustes responsivos para móviles */
@media (max-width: 480px) {

  .feature-card-content {
      bottom: 5px;
      left: 5px;
      padding: 8px;
  }

  .feature-card-content h3 {
      font-size: 1rem; 
  }

  .feature-card-content p {
      font-size: 0.8rem; 
  }
}
