.prices-container {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 8% 0;
  background: radial-gradient(ellipse at center, #00a5cf 1%, #212121 35%, #202425 95%);
  color: #ffffff;
  text-align: center;
}

.prices-title {
  font-size: 3.2rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}

.prices-title .highlight {
  color: #00a5cf;
}

.prices-subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  color: #cccccc;
  margin-bottom: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.prices-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: stretch; /* Todas las tarjetas tendrán la misma altura */
}

.price-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 3% 1%;
  width: 100%;
  max-width: 340px; /* Tamaño máximo de la tarjeta */
  min-width: 280px; /* Tamaño mínimo para evitar que se hagan demasiado pequeñas */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}


.plan-title {
  font-size: 1.18rem;
  font-weight: 600;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 15px;
  border-radius: 20px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px; /* Evita que se desborde en móviles */
  text-align: center;
  z-index: 1;
  border: 5px solid #ffffff;
}

.price {
  font-size: clamp(2.2rem, 2.5vw, 2rem); /* Se ajusta dinámicamente al tamaño de pantalla */
  font-weight: 800;
  color: #000000;
  text-align: left;
  margin-top: 8%;
  margin-bottom: 2%;
}


.price sup {
  font-size: 0.8rem;
  vertical-align: super;
  color: #666666;
  font-weight: 300;
}

.price-details {
  color: #666666;
  margin: 10px 0 20px;
  text-align: left;
}

.features {
  list-style-type: disc;
  padding-left: 20px;
  margin: 20px 0;
  text-align: left;
  color: #000000;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.price-card Button {
  margin: 20px auto 0;
  width: auto;
}

.disclaimer {
  font-size: 1rem;
  color: #aaaaaa;
  margin-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .prices-title {
    font-size: 2.4rem;
  }

  .prices-subtitle {
    font-size: 1rem;
    padding: 0 10px; /* Espaciado para mejorar la legibilidad */
  }

  .price-card {
    width: 100%;
    max-width: 90%; /* Se ajusta al ancho disponible */
  }
}

