.industrial-navbar {
  position: sticky;
  top: 10%;
  z-index: 1000;
  width: 100%;
  /* height: ; */
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Manrope', sans-serif;
  padding: 0.8rem 0;
}

.industrial-navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  position: relative;
}

.industrial-navbar .navbar-title {
  margin: 0;
  white-space: nowrap; /* Evita que el t铆tulo se rompa en m贸viles */
}

.industrial-navbar .navbar-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Botones del navbar */
.industrial-navbar .navbar-links button {
  font-family: 'Manrope', sans-serif;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.industrial-navbar .navbar-links button:hover,
.industrial-navbar .navbar-links button.active {
  background-color: black;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.632);
}

/*  Mantener el navbar secundario debajo del original */
.navbar-secondary {
  position: relative; /* Se apila debajo del navbar principal */
  top: 0;
  z-index: 900; /* Debajo del navbar principal */
  width: 100%;
  margin-top: 4rem; /* Ajusta seg煤n la altura del navbar principal */
}

/*  Dise帽o completamente responsivo */
@media screen and (max-width: 1024px) {
  .industrial-navbar {
    padding: 0.6rem 0;
  }
  
  .industrial-navbar .navbar-container {
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .industrial-navbar .navbar-title {
    display: none; /* Oculta el t铆tulo en m贸viles */
  }

  .industrial-navbar .button-demo {
    display: none; /* Oculta el bot贸n de agendar demo en m贸viles */
  }

  .industrial-navbar .navbar-container {
    padding: 0.5rem 0;
    justify-content: center;
  }

  .navbar-secondary {
    margin-top: 3rem; /* Ajusta la separaci贸n en m贸viles */
  }
}
