@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

.services-page {
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #f8f4f4);
  position: relative;
  overflow: hidden;
  padding: 0 7%; /* Eliminamos el padding vertical grande */
  min-height: 89vh; /* Asegura que el contenedor tome toda la pantalla */
  display: flex;
  align-items: center; /* Centrar contenido verticalmente */
  justify-content: center;
  
}

.services-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/public/05-Services/Headline_Image/Image_Production03.jpg") no-repeat center center;
  background-size: cover; /* Mantiene la imagen completa sin recortar */
  background-position: top;
  transform: scaleX(-1); /* Invierte la imagen horizontalmente */
  z-index: -1;
}

.services-hero {
  margin-top: 7%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  /* padding-top: 7%; */
}

.services-content {
  flex: 1;
}

.services-cards-container {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-content .section-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--Tones-Black-80, #525050ab);
  margin-bottom: 10px; 
}

.services-content h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 100%;
  margin-top: 0; 
}

.services-content p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #666666;
  margin-bottom: 30px;
  margin-right: 16%;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Reducimos el ancho */
  max-width: 450px; /* Limitamos el tamaño máximo */
  margin: 0; /* Centra horizontalmente el card */
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 166, 207, 0.824);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon img {
  width: fit-content;
  height: fit-content;
}

.card-title {
  flex: 1;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 0 20px;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #dddddd3c;
  border: 1px  #dddddd;
  border-radius: 10px;
  padding: 6px;
}

.card-image {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  flex: 1;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.card-content p {
  font-size: 1.1rem;
  color: #666666;
}

.solutionsServices-section {
  padding: 0 7% 4%;
  background-color: #f8f4f4;
}

.solutionsServices-section .section-label {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a6a6a6;
  margin-bottom: 0;
}

.solutionsServices-section h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
}

.solutionsServices-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 2%;
}
/* Tablets y pantallas medianas */
@media screen and (max-width: 1024px) {
  .services-hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .services-content {
    text-align: center;
    margin-right: 0;
  }

  .services-content h1 {
    font-size: 3.5rem;
  }

  .card {
    max-width: 400px;
  }
}

/* Pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .services-page {
    padding: 0 5%;
    /* margin-top: 10%; */
  }

  .services-content h1 {
    font-size: 3rem;
    text-align: left;
  }

  .services-content p {
    font-size: 1.2rem;
    text-align: left;
  }

  .card {
    max-width: 90%;
  }

  .card-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-image {
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  .solutionsServices-section{
    margin-top: 5%;
  }

  .solutionsServices-section h1 {
    font-size: 2.5rem;
  }
}

/* Pantallas muy pequeñas (menos de 480px) */
@media screen and (max-width: 480px) {
  .services-content h1 {
    font-size: 2.5rem;
  }

  .solutionsServices-section h1 {
    font-size: 2rem;
  }
}