.hw-body{
  background: #f2f2f2;
  font-family: "Manrope", sans-serif;
}

.how-it-works-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 8% 6%;
  background: linear-gradient(180deg, rgba(33, 33, 33, 0.00) 0%, #212121 100%), 
  linear-gradient(270deg, rgba(23, 42, 79, 0.00) 0%, rgba(23, 42, 79, 0.80) 100%), 
  url('/public/04-How_It_Works/Headline Image/Image_Production01.webp') lightgray 50% / cover no-repeat;
  backdrop-filter: blur(8px);
  background-size: 100%;
  background-attachment: fixed;
  background-position: top;
}

.hw-section-label {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #f3eeeeac;
}

.how-it-works-content {
  max-width: 70%;
  z-index: 2;
  position: relative;
}

.how-it-works-title {
  font-size: 4.3rem;
  font-weight: 600;
  margin-top: 0;
}

.how-it-works-description {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #ababab;
}

/* Section 2 */
.steps-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2% 10%;
}

.timeline-circle::after {
  content: "";
  position: absolute;
  bottom: -235px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: calc(100% + 126px);
  background-color: #ddd;
  z-index: -1;
  transition: background-color 0.3s ease; 
}

.timeline-circle {
  margin-right: 1%;
  width: 160px;
  height: 130px;
  border-radius: 50%;
  background-color: #ddd;
  border: 4px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.timeline-circle span {
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 3.5rem;
  font-weight: 600;
}

.timeline-circle.hovered {
  background-color: #00a5cf;
  border-color: #00a5cf;
}

.timeline-circle.hovered span {
  opacity: 1;
  color: white;
}

.timeline-circle.connected::after {
  background-color: #00a5cf; /* Línea azul celeste */
}

.timeline-circle.connected span {
  opacity: 1;
  color: white;
}

.step-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.step-content {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 3%; /* Reduce la separación entre imagen y texto */
  min-height: 180px; /* Asegura que todas las tarjetas tengan la misma altura */
  margin-bottom: 2rem;
}

.step-content img {
  width: 100%; /* Ajusta al tamaño del contenedor */
  max-width: 400px; /* Evita que la imagen se agrande demasiado */
  height: auto; /* Mantiene la proporción */
  aspect-ratio: 16/9; /* Relación de aspecto para imágenes consistentes */
  border-radius: 16px;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* Centrar la imagen */
}

.step-content-text {
  /* flex: 1;  */
}

.step-content-text h2 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  text-align: left;
}

.step-content-text h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

.step-content-text p {
  font-size: 1rem;
  color: #777;
  text-align: left;
  margin-bottom: 0;
}

.step-item:last-child .timeline-circle::after {
  display: none;
}

/* Línea y círculo completados */
.timeline-circle.completed {
  background-color: #00a5cf;
  border-color: #00a5cf;
}

.timeline-circle.completed span {
  opacity: 1;
  color: white;
}

.timeline-circle.completed::after {
  background-color: #00a5cf;
}

.timeline-circle.connected::after {
  background-color: #00a5cf;
}

.timeline-circle.connected span {
  opacity: 1;
  color: white;
}

/* section 3 */
.hw-call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 16px;
  width: 81%;
  height: 260px;
  margin-left: 10%;
  margin-bottom: 5%;
  overflow: hidden;
  background: linear-gradient(
      to left,
      rgba(63, 67, 74, 0.929),
      #020202
    );
}

.hw-cta-text p{
  color: #aaaaaa;
}

.hw-cta-text {
  position: relative; 
  z-index: 2;
  color: #fff;
  padding: 2rem;
  max-width: 50%; 
  text-align: left; 
}

.hw-cta-image {
  position: relative;
  width: 40%; 
  height: 100%; 
  z-index: 1; 
}

.hw-cta-image img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 0 16px 16px 0; 
  position: absolute; 
  right: 0;
  opacity: 0.5; 
  -webkit-mask-image: linear-gradient(to right, transparent, black);
  mask-image: linear-gradient(to right, transparent, black);
}

@media (max-width: 1200px) {
  .timeline-circle {
    display: none;
  }

  .how-it-works-container {
    padding: 20px;
  }

  .steps-container {
    padding: 5% 8%;
  }

  .step-content {
    flex-direction: column;
    gap: 10px;
  }

  /* .step-content img {
    width: 100px;
    height: 100px;
  } */

  .hw-call-to-action {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 20px auto;
    text-align: center;
  }

  .hw-cta-text {
    max-width: 100%;
    padding: 1.5rem;
  }

  .hw-cta-image {
    width: 100%;
    height: 200px;
  }

  .hw-cta-image img {
    border-radius: 0 0 16px 16px;
    opacity: 0.7;
  }
}

@media (max-width: 768px) {

  .how-it-works-container {
    backdrop-filter: blur(8px);
    background-size: cover;
  }

  .how-it-works-content {
    max-width: 100%;
    margin: 5% 3%;
  }

  .hw-section-label{
    font-size: 1.5rem;
  }

  .how-it-works-title {
    font-size: 2rem;
  }

  .how-it-works-description {
    font-size: 1rem;
  }

  .timeline-circle {
    display: none;
  }

  .steps-container {
    /* margin-bottom: ; */
  }

  .step-content {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 3%; 
    min-height: 180px;
    margin-bottom: 5%; 
  }

  .step-content img {
    width: 100%; 
    max-width: 400px; /* Limitar tamaño máximo para no expandirse demasiado */
    min-width: 300px; /* Limitar tamaño máximo para no expandirse demasiado */
    height: auto; /* Mantiene la proporción */
    min-height: 180px;
  }

  .step-content-text h2 {
    text-align: center;
  }
  
  .step-content-text h4 {
    text-align: center;
  }
  
  .step-content-text p {
    text-align: center;
  }

  .hw-call-to-action {
    height: auto;
    padding: 1rem;
  }

  .hw-cta-image {
    height: 350px;
  }

  .hw-cta-image img {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .timeline-circle {
    width: 80px;
    height: 80px;
    font-size: 1rem;
  }

  .how-it-works-title {
    font-size: 1.5rem;
  }

  .step-content {
    padding: 10px;
  }

  .step-content img {
    width: 80px;
    height: 80px;
  }

  .hw-call-to-action {
    padding: 1rem;
    flex-direction: column;
  }

  .hw-cta-text {
    font-size: 0.9rem;
  }

  .hw-cta-image {
    height: 120px;
  }
}
