  /* 
      url('/public/07-Service02/Headline Image/Métricas.webp') no-repeat center/cover;
  */

  .metrics{
    background-color: rgba(33, 33, 33, 1);
    padding: 10px 0;
  }

  .metrics-s2 {
    padding: 0; 
    margin: 0 auto; 
  }

  .metrics-s2 h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #00a5cf;
    text-align: center;
    margin-bottom: 10px; 
  }

  .metrics-s2 h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin: 5px 0; 
  }

  .metrics-s2 p {
    font-weight: 500;
    color: #d1d1d1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: -3%;
    line-height: 0; 
  }

  .metrics-s2 h3,
  .metrics-s2 p {
    line-height: 1.2; 
  }

  .metrics-p-section{
    font-weight: 500;
    color: #d1d1d1;
    text-align: center; 
    margin: 0 20%;
    padding-bottom: 2%;  
  }

@media (max-width: 768px) {
  .metrics {
    padding: 20px 10px; 
  }

  .metrics-s2 h2 {
    font-size: 2rem; 
  }

  .metrics-s2 h3 {
    font-size: 1.8rem;
  }

  .metrics-s2 p {
    font-size: 0.9rem; 
    line-height: 1.4; 
  }

  .metrics-p-section {
    margin: 0 10%; 
    padding-bottom: 5%;
  }
}
