/* Section 6 */
.meeting-section-home {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background: #fbfcfd;
    border-radius: 12px;
  }
  
  .meeting-info-home {
    flex: 1.2;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 5% 0;
  }
  
  .meeting-info-home h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
  }
  
  .meeting-info-home p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .meeting-info-home Button {
    margin-top: 15%;
  }

  .highlight-text {
    color: #087aa2;
  }
  
  .meeting-card {
    flex: 3;
  }
  

  @media (max-width: 1024px) {
    .meeting-section-home {
      flex-direction: column;
      padding: 2.5rem;
      text-align: center;
    }
  
    .meeting-info-home {
      align-items: center;
      text-align: center;
      margin: 0;
    }
  
    .meeting-info-home h2 {
      font-size: 1.6rem;
    }
  
    .meeting-info-home p {
      font-size: 0.95rem;
    }
  
    .meeting-info-home Button {
      margin-top: 5%;
    }
  
    .meeting-card {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  /* 🟠 Para Dispositivos Móviles (≤768px) */
  @media (max-width: 768px) {
    .meeting-section-home {
      padding: 2rem;
      text-align: center;
    }
  
    .meeting-info-home {
      text-align: center;
      align-items: center;
    }
  
    .meeting-info-home h2 {
      font-size: 1.4rem;
    }
  
    .meeting-info-home p {
      font-size: 0.9rem;
    }
  
    .meeting-info-home Button {
      margin-top: 4%;
    }
  
    .meeting-card {
      width: 100%;
      padding: 1rem;
    }
  }
  
  /* 🔴 Para Teléfonos Pequeños (≤480px) */
  @media (max-width: 480px) {
    .meeting-section-home {
      padding: 1.5rem;
    }
  
    .meeting-info-home h2 {
      font-size: 1.2rem;
    }
  
    .meeting-info-home p {
      font-size: 0.85rem;
    }
  
    .meeting-info-home Button {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
    }
  }