.dv-body {
    font-family: "Manrope", sans-serif;
}

.device-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 10% 5%;
    min-height: 80%;
    position: relative;
    z-index: 2;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
    pointer-events: none;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to left,
        rgba(33, 33, 33, 0.507),
        rgba(33, 33, 33, 0.8),
        rgba(23, 42, 79, 0.676) 100%
    );
    z-index: 1;
    pointer-events: none;
}

.device-section-label {
    font-size: 1rem;
    font-weight: 600;
    color: #f3eeee81;
}

.device-content {
    max-width: 600px;
    z-index: 2;
    position: relative;
}

.device-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.device-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #ababab;
}

.dynamic-section {
    padding: 40px 80px;
    transition: background-color 0.001s ease;
}

.dynamic-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dynamic-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

.dynamic-description {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
    max-width: 800px;
}

.button-group {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.device-button {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .device-button.inactive {
    background-color: 
    #626262; 
    color: #ffffff; 
}

.dark-mode .device-button.active {
    background-color: #00a5cf; 
    color: #ffffff; 
}

.dark-mode .device-button.active .button-main {
    color: #212121; 
}
 

.light-mode .device-button.inactive {
    background-color: #dbd9d99b;
    color: #212121; 
}

.light-mode .device-button.active {
    background-color: #212121; 
    color: #ffffff; 
}

.light-mode .device-button.active .button-main {
    color: #00a5cf; 
}

.light-mode .device-button:hover {
    background-color: #e0e0e0; 
}

.button-main {
    font-weight: bold;
    transition: color 0.3s ease;
}

.button-detail {
    font-weight: normal;
    margin-left: 4px;
    transition: opacity 0.3s ease;
}

.device-button:not(.active) .button-detail {
    display: none; 
}

.dynamic-media-container {
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    /* max-width: 600px; */
    height: 500px;
    overflow: hidden;
    z-index: 1;
}

.button-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 20px;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dynamic-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 1s ease, z-index 1s ease-in-out;
}

.dynamic-media.final-position {
    z-index: -1;
    opacity: 0.8;
}


.dynamic-title-end {
    font-size: 1.3rem;
    font-weight: 650;
    margin-bottom: 2px;
    text-align: center;
    align-self: center;
}

.dynamic-description-end {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    align-self: center;
}


.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #212121;
    color: #ffffff;
}

@media (max-width: 768px) {
    .device-container,
    .dynamic-section {
        padding: 20px;
    }

    .device-title {
        font-size: 2rem; 
    }

    .device-description,
    .dynamic-description {
        font-size: 1rem;
    }

    .button-group {
        flex-direction: column;
    }

    .dynamic-media-container {
        height: 300px; 
    }
}

@media (max-width: 480px) {
    .device-container,
    .dynamic-section {
        padding: 10px;
    }

    .device-title {
        font-size: 1.5rem;
    }

    .device-button {
        font-size: 0.8rem; 
        padding: 6px 12px; 
    }

    .dynamic-media-container {
        height: 200px; 
    }
}
