.faq-support-container {
  background: var(--Palette-White, #FFF);
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
  gap: 2%;
  align-items: flex-start; /* Asegura que ambos lados comiencen en el mismo nivel */
  min-height: 100vh; /* Asegura que ambas secciones tengan altura similar */
}


.faq-support-sidebar {
  flex: 0 0 380px;
  position: sticky; 
  top: 100px; /* Define la distancia desde la parte superior */
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

.faq-support-content {
  flex: 3;
  display: grid;
  gap: 30px;
  padding: 25px 30px;
  border-radius: 15px;
  align-self: flex-start; /* Asegura alineación con FAQSection */
}




/* Responsividad */
@media (max-width: 768px) {
  .faq-support-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 0;
    gap: 0;    
  }

  .faq-support-sidebar {
    position: static; 
    max-width: 80%;
    margin-top: 10%;
    padding: auto;
  }

  .faq-support-content {
    width: 90%;
  }
}
