.faq-support-container {
  display: flex;
  justify-content: space-between;
  padding: 5% 2%;
  gap: 2%;
  align-items: flex-start; /* Asegura que ambos lados comiencen en el mismo nivel */
  min-height: 100vh; /* Asegura que ambas secciones tengan altura similar */
}


.faq-support-sidebar {
  flex: 0 0 380px;
  position: sticky; 
  top: 100px; /* Define la distancia desde la parte superior */
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

.faq-support-content {
  flex: 3;
  display: grid;
  gap: 30px;
  padding: 25px 30px;
  border-radius: 15px;
  align-self: flex-start; /* Asegura alineación con FAQSection */
}

.faq-support-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: left; /* Asegura que el texto no se desplace */
  max-width: 600px; /* Evita que se desborde en pantallas grandes */
  margin: 0 auto; /* Centra en dispositivos móviles */
}



/* Responsividad */
@media (max-width: 768px) {
  .faq-support-container {
    flex-direction: column;
    align-items: center;
  }

  .faq-support-sidebar {
    position: static; 
    max-width: 80%;
    margin-top: 10%;
    padding: auto;
  }

  .faq-support-content {
    width: 100%;
  }
}
