  .content {
    padding: 0 8%;
    margin: 0;
    max-width: 55%;
    z-index: 2;
    position: relative;
  }
  
  .title {
    font-size: clamp(3rem, 4.1vw, 5rem);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .description {
    font-size: clamp(1rem, 1.3vw, 1.8rem);
    margin-bottom: 30px;
    line-height: 1.5;
    color: #d1d1d1;
  }
  
  .breadcrumb {
    padding: 8% 8% 1%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    z-index: 2;
    position: relative;
  }
  
  .breadcrumb-separator {
    padding: 0 5%;
    width: 20px;
    height: 20px;
  }
  
  .breadcrumb-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  
  .breadcrumb-link.active {
    background: rgba(255, 255, 255, 0.123);
    padding: 6px 8px;
    border-radius: 5px;
  }
  
  .breadcrumb-link.active:hover {
    background: #b3b3b398;
    color: black;
    font-weight: 700;
  }
  @media (min-width: 1600px) {
    .title {
      font-size: 5rem;
    }
    .description {
      font-size: 1.8rem;
    }
    .breadcrumb {
      padding: 6% 10% 1%;
    }
  }
  
  @media (max-width: 1600px) {
    .content {
      max-width: 70%;
    }
  
    .title {
      font-size: 3.8rem;
    }
  
    .description {
      font-size: 1.5rem;
    }
  }
  
  /* 📌 Pantallas medianas (768px - 1024px) */
  @media (max-width: 1024px) {
    .content {
      max-width: 100%;
      margin-top: 10px;
    }
  
    .title {
      font-size: 3rem;
    }
  
    .description {
      font-size: 1.2rem;
    }
  
    .breadcrumb {
      padding: 5px 10px;
    }
  
    .breadcrumb-separator {
      width: 15px;
      height: 15px;
    }
  }
  
  /* 📌 Pantallas pequeñas (hasta 768px) */
  @media (max-width: 768px) {
    .industrial-variables-container {
      padding: 10px 0; 
    }
    
    .breadcrumb {
      margin-top: 5%;
    }
  
    .title {
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    .breadcrumb-link {
      font-size: 0.9rem;
    }
  }
  
  /* 📌 Pantallas muy pequeñas (hasta 480px) */
  @media (max-width: 480px) {
    .industrial-variables-container {
      padding: 10px 0; 
    }
  
    .title {
      font-size: 2rem;
    }
  
    .description {
      font-size: 0.9rem;
    }
  
    .breadcrumb {
      /* flex-direction: column;
      align-items: flex-start; */
    }
  
    .breadcrumb-link {
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
  
    .breadcrumb-separator {
      /* display: none; */
    }
  }