@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

.navbar {
  font-size: 18px;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: fit-content;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}
  
  .navbar-logo img {
    margin-left: 7%;
    height: 30px;
  }
  
  .navbar-links {
    padding: 0 80px;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu li.active a {
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-menu {
    /* flex-grow: 1; */
    /* align-items: stretch; */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 25px;
    font-size: 20px; 
    color: #333; 
    cursor: pointer;
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-right: 1%;
  }

  

.navbar-menu a, 
.navbar-links a {
  font-size: 20px;
  text-decoration: none; 
  color: inherit; 
  transition: text-shadow 0.3s ease, transform 0.2s ease;
}

.navbar-menu a:hover,
.navbar-links a:hover {
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.login-button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
  gap: 8px;
  border-radius: 12px;
  background: var(--Palette-Black, #212121);
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border: none;
  transition: background 0.3s ease, transform 0.2s ease;
  margin: 20px auto; 
}

.login-button-nav:hover {
  background: #333;
  transform: scale(1.05);
  /* font-weight: bold; */
}

.login-button-nav:active {
  background: #111;
  transform: scale(0.98);
}



.request-trial-button, 
.login-button-mobile {
  font-family: 'Manrope', sans-serif;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.request-trial-button {
  background-color: var(--palette-100-cyan-35-blue, #087AA2);
  font-weight: bold;
  /* border-radius: 12px; */
  color: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 35px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.login-button-mobile {
  background-color: #333;
  color: white;
  font-weight: bold;
}

  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-icon {
    font-size: 24px;
  }
  
  .bold-on-hover {
    transition: font-weight 0.3s ease; 
  }
  
  .bold-on-hover:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-solutions {
    position: relative; 
  }
  
  .dropdown-solutions .solutions-dropdown {
    display: block;
  }
  
  .dropdown-solutions .dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: font-weight 0.3s ease;
    color: inherit;
    font-size: inherit; 
    font-family: inherit;
    padding: 0; 
    height: auto; 
  }
  
  
  .dropdown-solutions .dropdown-toggle:hover {
    text-shadow: 0px 0px 1px rgb(0, 0, 0);

  }
  
  .solutions-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 5% 1%; 
    min-width: 330px;
    z-index: 1000;
  }
  
  .solutions-dropdown li {
    display: flex;
    padding: 1% 1%;
    font-size: 0.9rem; 
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .solutions-dropdown li:hover {
    /* font-weight: bold;  */
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .solutions-dropdown li:not(:last-child) {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 8px; 
    margin-bottom: 8px; 
  }

  .solutions-dropdown li img {
    width: 20px; 
    height: 20px;
    margin-right: 5px;
  }  
  
  .solutions-dropdown .additional-margin:not(:last-child) {
    padding-left: 20px; 
  }
  
  .solutions-dropdown .additional-margin {
    margin-left: 30px; 
  }
  .solutions-dropdown li:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  
  .language-selector {
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background-color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
  }
  
  .language-button {
    
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transition: font-weight 0.3s ease;
    font-size: 18px;
    font-family: inherit;
    padding: 8px 20px;
    height: auto;
}

.language-button:hover {
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

  
  .language-selector:hover {
    border: 1px solid var(--Palette-Black, #212121);
    background: var(--Opacities-Black-20, rgba(33, 33, 33, 0.20));
    /* font-weight: bold; */
    border-color: #aaa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 130px;
    z-index: 1000;
  }
  
  .language-dropdown li {
    margin-left: 10%;
    margin-right: 10%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .language-dropdown img{
    width: 20px;
    height: auto;
  }
  
  .language-dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-shadow: 0px 0px 1px rgb(0, 0, 0);

  }
  
  .language-dropdown li:first-child {
  
    border-bottom: 2px solid #ccc;
  }
  
  .solutions-dropdown.mobile-open li {
    padding-left: 30px; 
  }
  
  @media (max-width: 768px) {
    .navbar{
      padding: 2% 0;
    }

    .login-button-nav{
      display: none;
    }

    .navbar-links {
      display: none;
    }
  
    .navbar-actions {
      display: block; 
    }
  
    .navbar-toggle {
      display: block;
    }

    /* Contenedor del menú móvil */
    .navbar-links.open {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 60px; /* Ajuste para que esté debajo del navbar */
      left: -60px;
      width: 100%;
      height: calc(100vh - 60px); 
      background-color: white;
      overflow-y: auto; /* Permitir scroll si hay muchos elementos */
      padding-bottom: 100px; /* Espacio para los botones inferiores */
      z-index: 998;
    }

  /* Botones móviles fijos en la parte inferior */
  .mobile-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: white; */
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 999; /* Asegurar que esté sobre el menú */
  }

    
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 0; /* Eliminar padding lateral */
    width: 100%; 
  }
    
  .navbar-menu li {
    width: 100%; 
    margin: 0; /* Eliminar margen */
    padding: 0; /* Ajustar padding */
    text-align: left; /* Asegurar alineación izquierda */
    border-bottom: 1px solid #ccc;
  }

  .navbar-menu a {
    width: 100%;
    display: block; /* Asegurar que ocupa todo el ancho */
    padding: 10px 0px; /* Agregar padding solo en los lados para espaciar */
    margin: 0;
    
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    }

    .navbar-menu li:last-child {
      border-bottom: none; 
    }
  
    .dropdown-solutions .solutions-dropdown {
      position: static; 
      display: block; 
      margin-top: 0px;
      box-shadow: none; 
      border: none;
      width: 100%;
      padding: 0; 
    }
  
    .solutions-dropdown li {
      width: 100%; 
      text-align: left; 
      padding: 0 12px;
      font-size: 18px;
    }
  
    .solutions-dropdown li.additional-margin {
      padding-left: 20px; 
    }
  }
  
  .language-selector button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .language-selector button.active {
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  