.section5-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 5%;
    background-color: #f9f9f9;
  }
  
  .section5-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
    width: 100%;
    gap: 5%;
  }
  
  /* Sección de la imagen */
  .section5-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mockup-image-benefits {
    max-width: 80%;
    height: auto;
    border-radius: 12px;
  }
  
  /* Sección del texto */
  .section5-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .section5-label {
    font-size: 1.3rem;
    font-weight: 600;
    color: #999;
    margin-bottom: 0;
  }
  
  .section5-title {
    font-size: 2.7rem;
    font-weight: 600;
    color: black;
    margin: 0 0;
  }
  
  .section5-description {
    font-size: 1.3rem;
    /* line-height: 1.6; */
    color: rgb(33, 33, 33);
    margin-bottom: 30px;
  }
  
  .section5-buttons {
    display: flex;
    gap: 20px;
  }
  
  /* Responsivo */
  @media (max-width: 1024px) {
    .section5-content {
      flex-direction: column;
      gap: 30px;
    }
  
    .section5-title {
      font-size: 2rem;
    }
  
    .section5-description {
      font-size: 1rem;
    }
  
    .section5-buttons {
      flex-direction: column;
      gap: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .section5-title {
      font-size: 1.8rem;
    }
  
    .section5-description {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .section5-title {
      font-size: 1.5rem;
    }
  
    .section5-description {
      font-size: 0.8rem;
    }
  }
  