.dm-body{
    background: #f2f2f2;
    font-family: "Manrope", sans-serif;
    padding:  0;
  }
  
  .data-metrics-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 8% 6%;
    min-height: 50vh;
    background: linear-gradient(180deg, rgba(33, 33, 33, 0.00) 0%, #212121 100%),
     linear-gradient(270deg, rgba(23, 42, 79, 0.00) 0%, rgba(23, 42, 79, 0.80) 100%),
      url('/public/14-Data Metrics/Portada_Datos.png') no-repeat center, #087AA2;
    backdrop-filter: blur(8px);
    /* background: linear-gradient(
        to top,
        rgba(33, 33, 33, 1),
        rgba(33, 33, 33, 0.8),
        rgba(23, 42, 79, 0.676) 100%
      ),
      url('/public/14-Data Metrics/Portada_Datos.png') no-repeat center; */
    background-size: 110%;
    background-attachment: fixed;
  }
  
  .data-metrics-section-label {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f3eeeeac;
    margin-bottom: 20px;
  }
  
  .data-metrics-content {
    /* padding: 1% 0; */
    margin-top: 0;
    max-width: 60%;
    z-index: 2;
    position: relative;
  }
  
  .data-metrics-title {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .data-metrics-description {
    font-size: 1.25rem;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #ababab;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
  }
  
  .data-metrics-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header-title {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0px 15%;
  }
  
  .highlight {
    color: #00a5cf;
  }
  
  .header-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: center;
    margin: 0 21%;
  }
  
  .content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 100%; /* Ajusta la altura para que sea flexible */
  }
  
  .image-container img {
    width: 100%;  /* Asegura que la imagen ocupe todo el ancho */
    height: 100%; /* Asegura que la imagen ocupe todo el alto */
    max-width: 600px; /* Establece un tamaño máximo para evitar imágenes gigantes */
    max-height: 400px; /* Ajusta la altura máxima */
    object-fit: contain; /* Mantiene la proporción sin recortar la imagen */
  }
  
  
  .text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .info-text {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
  }
  
  .info-text strong {
    color: #000000b6;
  }
  

  .login-button {
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 12px;
    background: var(--Palette-Black, #212121);
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
    margin: 20px auto; /* Centra horizontalmente */
}

.login-button:hover {
    background: #333;
    transform: scale(1.05);
    /* font-weight: bold; */
}

.login-button:active {
    background: #111;
    transform: scale(0.98);
}


.section3 {
  display: flex;
  justify-content: center; /* Asegurar que el contenido esté centrado */
  align-items: center;
  padding: 3% 0; /* Reducir el margen lateral */
  background-color: #212121;
  color: white;
  width: 100%; /* Ocupar todo el ancho */
}

.text-and-mockup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Reducir el espacio entre texto e imagen */
  max-width: 90vw; /* Hacer que el contenedor sea más ancho */
  width: 100%;
}

.text-content {
  flex: 1;
  max-width: 45%; /* Ajustar el ancho del texto */
}

.section3-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.section3-description {
  font-size: 1.1rem;
  color: #ababab;
  line-height: 1.6;
  margin-right: 5%; /* Reducido de 14% */
}

.mockup-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

  

  /* Estilos responsivos */
@media (max-width: 1024px) {
    .content-section {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  
    .header-title {
      font-size: 2rem;
    }
  
    .header-description {
      font-size: 1rem;
      margin: 0 10%;
    }

    .text-and-mockup {
        flex-direction: column;
        text-align: center;
        gap: 30px;
      }
    
      .section3-title {
        font-size: 2rem;
      }
    
      .section3-description {
        font-size: 1rem;
      }

  }
  
  @media (max-width: 768px) {
    /* .data-metrics-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      color: white;
      padding: 11% 6%;
      min-height: 50vh;
      background: linear-gradient(
          to top,
          rgba(33, 33, 33, 1),
          rgba(33, 33, 33, 0.8),
          rgba(23, 42, 79, 0.676) 100%
        ),
        url('/public/14-Data Metrics/Portada_Datos.png') no-repeat center;
      background-size: 110%;
      background-attachment: fixed;
    } */

    .data-metrics-container {
      background: linear-gradient(180deg, rgba(33, 33, 33, 0.00) 0%, #2121214a 100%),
     linear-gradient(270deg, rgba(23, 42, 79, 0.00) 0%, rgba(23, 42, 79, 0.80) 80%),
      url('/public/14-Data Metrics/Portada_Datos.png') no-repeat center, #087AA2;
      min-height: fit-content;
      background-size: 150%;
      margin: 0;
    }

    .data-metrics-container {
      /* margin-top: 5%; */
      padding: 5% 3%;
    }
    
    .data-metrics-section-label {
      font-size: 1.5rem;
      font-weight: 600;
      color: #f3eeeeac;
      margin-bottom: 0;
    }
    
    .data-metrics-section-label {
      font-size: 1rem;
      font-weight: 600;
      color: #f3eeeeac;
      margin-bottom: 0;
    }   
    .data-metrics-content {
      padding: 4% 0;
      margin-top: 0;
      max-width: 100%;
      z-index: 2;
      position: relative;
    }
    
    .data-metrics-title {
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 1%;
      margin-bottom: 1%;
    }
    
    .data-metrics-description {
      font-size: 1.1rem;
      margin-bottom: 30px;
      line-height: 1.5;
      color: #ababab;
    }

    .header-title {
      font-size: 1.8rem;
      text-align: start;
      margin: 0px;

    }
  
    .header-description {
      font-size: 0.9rem;
      text-align: start;
      margin: 10px 0;
    }
  
    .info-text {
      font-size: 0.9rem;
    }
    
    .text-content {
      flex: 1;
      max-width: 100%; /* Ajustar el ancho del texto */
    }
    
    .section3-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
    
    .section3-description {
      font-size: 1.1rem;
      color: #ababab;
      line-height: 1.6;
      margin-right: 0%; /* Reducido de 14% */
    }
    
  }
  
  @media (max-width: 480px) {
    .header-title {
      font-size: 1.5rem;
    }
  
    .header-description {
      font-size: 0.8rem;
    }
  
    .info-text {
      font-size: 0.8rem;
    }
  }
  