.dm-body{
    background: #f2f2f2;
    font-family: "Manrope", sans-serif;
    padding:  0;
  }
  
  .data-metrics-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 7% 6%;
    min-height: 50vh;
    background: linear-gradient(
        to top,
        rgba(33, 33, 33, 1),
        rgba(33, 33, 33, 0.8),
        rgba(23, 42, 79, 0.676) 100%
      ),
      url('') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
  }
  
  .data-metrics-section-label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f3eeeeac;
    margin-bottom: 0;
  }
  
  .data-metrics-content {
    padding: 2% 0;
    margin-top: 0;
    max-width: 60%;
    z-index: 2;
    position: relative;
  }
  
  .data-metrics-title {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .data-metrics-description {
    font-size: 1.25rem;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #ababab;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
  }
  
  .data-metrics-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header-title {
    font-size: 3.2rem;
    font-weight: 600;
    margin: 0px 15%;
  }
  
  .highlight {
    color: #00a5cf;
  }
  
  .header-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: center;
    margin: 0 21%;
  }
  
  .content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .info-text {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
  }
  
  .info-text strong {
    color: #000000b6;
  }
  

  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 12px;
    background: var(--Palette-Black, #212121);
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
    margin: 20px auto; /* Centra horizontalmente */
}

.login-button:hover {
    background: #333;
    transform: scale(1.05);
    /* font-weight: bold; */
}

.login-button:active {
    background: #111;
    transform: scale(0.98);
}


.section3 {
  display: flex;
  justify-content: center; /* Asegurar que el contenido esté centrado */
  align-items: center;
  padding: 3% 0; /* Reducir el margen lateral */
  background-color: #212121;
  color: white;
  width: 100%; /* Ocupar todo el ancho */
}

.text-and-mockup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Reducir el espacio entre texto e imagen */
  max-width: 90vw; /* Hacer que el contenedor sea más ancho */
  width: 100%;
}

.text-content {
  flex: 1;
  max-width: 45%; /* Ajustar el ancho del texto */
}

.section3-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.section3-description {
  font-size: 1.1rem;
  color: #ababab;
  line-height: 1.6;
  margin-right: 5%; /* Reducido de 14% */
}

.mockup-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

  

  /* Estilos responsivos */
@media (max-width: 1024px) {
    .content-section {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  
    .header-title {
      font-size: 2rem;
    }
  
    .header-description {
      font-size: 1rem;
      margin: 0 10%;
    }

    .text-and-mockup {
        flex-direction: column;
        text-align: center;
        gap: 30px;
      }
    
      .section3-title {
        font-size: 2rem;
      }
    
      .section3-description {
        font-size: 1rem;
      }

  }
  
  @media (max-width: 768px) {

    .data-metrics-container {
      margin-top: 4%;
      padding: 7% 6%;
    }
    
    .data-metrics-section-label {
      font-size: 1.5rem;
      font-weight: 600;
      color: #f3eeeeac;
      margin-bottom: 0;
    }
    
    .data-metrics-section-label {
      font-size: 1rem;
      font-weight: 600;
      color: #f3eeeeac;
      margin-bottom: 0;
    }
    
    .data-metrics-content {
      padding: 4% 0;
      margin-top: 0;
      max-width: 100%;
      z-index: 2;
      position: relative;
    }
    
    .data-metrics-title {
      font-size: 3rem;
      font-weight: 600;
      margin-top: 1%;
      margin-bottom: 1%;
    }
    
    .data-metrics-description {
      font-size: 1.25rem;
      margin-bottom: 30px;
      line-height: 1.5;
      color: #ababab;
    }

    .header-title {
      font-size: 1.8rem;
    }
  
    .header-description {
      font-size: 0.9rem;
    }
  
    .info-text {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .header-title {
      font-size: 1.5rem;
    }
  
    .header-description {
      font-size: 0.8rem;
    }
  
    .info-text {
      font-size: 0.8rem;
    }
  }
  