.contact-card {
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 400px;
}


.contact-card h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.contact-card p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.contact-card img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.contact-button {
  width: 100%; 
  max-width: 400px; 
  height: auto; 
  padding: 15px 20px;
  box-sizing: border-box;
}




