@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

.about-us {
  font-family: 'Manrope', sans-serif;
  background-color: #f8f9fa;
  color: #ffffff;

}

/* Hero Section */
.hero-section-AboutUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  padding: 7% 6%;
  margin-top: 5%;
  background-image: url("/public/13-About Us/Headline Image/AU-Headline.webp");
  background-size: 100%;
  background-attachment: cover;
  background-position: center;
}

.hero-text {
  max-width: 600px;
  z-index: 2;
  text-align: right;
}

.hero-text h1 {
  text-align: right;
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero-text .highlight {
  color: var(--Palette-Pacific-Cyan, #00A5CF);
}

.hero-text p {
  color: var(--Palette-White, #FFF);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
  line-height: 1.5;
}


/* Features Section */
.features-section-aboutus {
  background-color: #222;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.feature-aboutus {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
}

.feature-aboutus img {
  width: 24px;
  height: 24px;
}

.feature-aboutus p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero-section-AboutUs {
    margin-top: 9%;
    padding: 0 2%;
    /* height: max-content; */
    background-position: left;
    background-size: cover;
  }

  .hero-text {
    text-align: right;
    max-width: 85%;
    margin-left: 20%;
    padding: 10% 0;
  }

  .features-section-aboutus {
    padding: 1rem 2rem;
    gap: 1rem;
  }

  .feature-aboutus {
    font-size: 0.9rem;
  }

  .feature-aboutus img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 50vh;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .feature-aboutus {
    flex-direction: column; /* Alineación vertical para una mejor visualización */
  }
}